<h1>Welcome to CSE Motors!</h1>

<div id="delBox">
    <div id="ownButton">
        <h2>DMC Delorean</h2>
            <ul class="features">
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <img src="/images/site/own_today.png" alt="">
    </div>
</div>
<div id="upgrades">
    <div id="imagesUpgrades">
        <h2>Delorean Upgrades</h2>
        <div id="featuresImages">

            <div class="image-container">
                <div class="imageUp">
                    <img src="/images/upgrades/flux-cap.png" alt="">
                </div>                
                <a href="#" target="_blank">Flux Capacitor</a>
            </div>

            <div class="image-container">
                <div class="imageUp">
                    <img src="/images/upgrades/flame.jpg" alt="">
                </div>
                <a href="#" target="_blank">Flame Decals</a>
            </div>

            <div class="image-container">
                <div class="imageUp">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                </div>
                <a href="#" target="_blank">Bumper Stickers</a>
            </div>

            <div class="image-container">
                <div class="imageUp">
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                </div>                
                <a href="#" target="_blank">Hub Caps</a>
            </div>
        </div>
    </div>
    <div id="deloreanReviews">
        <h2>DMC Delorean Reviews</h2>
        <ul class="featuresDelorean">
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Cooldest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80's livin and I love it."(5/5)</li>
        </ul>
    </div>
</div>
