
<div>
  <% if (notice && notice.length > 0) { %>
  <div class="notice"><%= notice %></div>
  <% } %>
  <h1 class="title">Inventory Management</h1>
  <p class="manage-url"><a href="/inv/add-classification">Add New Classification</a></p>
  <p class="manage-url"><a href="/inv/add-inventory">Add New Vehicle</a></p>
</div>

